@media(max-width:430px){
    .rodape{
        color: #ffffff;
        text-align: center;
    }
    
    hr{
        color: black;
    }
}







@media(max-width:390px){
    .rodape{
        color: #ffffff;
        text-align: center;
    }
    
    hr{
        color: black;
    }
}

@media(max-width:768px){
    .rodape{
        color: #ffffff;
        text-align: center;
        font-size: 35px;
    }
    
    hr{
        color: black;
    }
}