:root{
    --cor-principal:#f851ea;
    --cor-secundaria:#7e0474;
    --backgroud:#57005a;
}


.title-cta{
        padding: 50px 40px 15px 40px;
        color: white;
        text-align: center;
        font-size: 60px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .title-cta span{
        color: var(--cor-principal);
    }

    #back_unhasbg{
        justify-content: center;
        align-content: center;
        display: flex;
        margin-bottom: 8%;
    }

    .back-unhas{
        width: 80%;
        margin-bottom: 35px;    
    }

    .description-cta{
        color: #ffffff  ;
        font-size: 50px;
        margin-top: 1%;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 50px;
    }

    .description-cta span{
        color: var(--cor-principal);
    }

     .img-works{
        width: 80%;
        height: 80%;
        border-radius: 25px;
        box-shadow: 4px 2px 20px 2px #d103c0;
        transition: 500ms;

    }

    .img-works:hover{
        transition: 500ms;
        transform: scale(1.05);
    }

    .titles{
        color: #f897f0;
        text-align: center;
        font-size: 80px;
    }

    .subtitles{
        margin-top: 15px;
        color: #ffffff;
        text-align: center;
        font-size: 50px;
        margin-bottom: 65px;
         margin-left: 45px;
        margin-right: 45px;
    }

   

    #works_back{    
        margin: 35px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        justify-content: center;
        }

    #ava_ava{
        margin-left: 35px; 
        margin-right: 35px;
        justify-items: center;
        align-items: center;
        display: grid;
        gap: 1%;
        grid-template-columns: repeat(2, 1fr);
    }


   .ava-img{
    margin: 15px;
    width: 95%;
   }



   .ava-img:hover{
    transform: scale(1.05);
    transition: 500ms;
   }

    .cont-titles{
        margin-top: 150px;
        color: #ffffff;
        text-align: center;
        font-size: 80px;
    }

    .cont-subtitles{
        color: #ffffff;
        font-size: 55px;
        text-align: center;
        margin-top: 20px;
        margin-left: 45px;
        margin-right: 25px;
    }

    .cont-subtitles span{
        color: #ff86e5;
        font-weight: 700;
    }

    #brands{
        font-size: 50px;
        color: #ffffff;
        margin: 0
    }

    #brands_cont{
        padding: 10px 13px 10px 13px;
        display: flex;
        align-items: center;
        background: #7e0474;
        border-radius: 25px;
        transition: 500ms;

    }

    #brands_cont:hover{
        background: #ff62f2;
        transform: scale(1.15);
        transition: 500ms;
    }

    .name-brands{
        color: #ffffff;
        font-size: 40px;
        align-items: center;
        margin: 0;
        margin-left: 5px;
    }

    #brands_align{
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 45px;
        margin: 25px;
        margin-top: 45px;
        margin-bottom: 80px;
    }

    #brands_cont a{
        text-decoration: none;
        margin: 0;
    } 

@media(max-width:430px){
   
    

    .title-cta{
        margin: 0;
        padding: 50px 20px 10px 20px;
        color: white;
        text-align: center;
        font-size: 34px;
    }

    .title-cta span{
        color: var(--cor-principal);
    }

    #back_unhasbg{
        justify-content: center;
        display: flex;
    }

    .back-unhas{
        width: 90%;
        max-width: 90%;
        display: block;
    }

    .description-cta{
        color: #ffffff  ;
        font-size: 22px;
        text-align: center;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 30px;
    }

    .description-cta span{
        color: var(--cor-principal);
    }

     .img-works{
        margin-top: 18px;
        width: 90%;
        border-radius: 25px;
        box-shadow: 5px 2px 15px 2px #d103c0;
    }

    .titles{
        margin-top: 50px;
        color: #f897f0;
        text-align: center;
        font-size: 45px;
    }

    .subtitles{
        margin-top: 15px;
        color: #ffffff;
        text-align: center;
        font-size: 30px;
        margin-bottom: 25px;
    }

    #works_back{
        margin: 15px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        justify-content: center;
    }


    #ava_ava{
        display: grid;
    }

   .ava-img{
    width: 90%;
    margin: 20px;
   }

   .ava-img:hover{
    transform: scale(1.05);
    transition: 500ms;
   }

    .cont-titles{
        margin-top: 60px;
        color: #ffffff;
        text-align: center;
        font-size: 50px;
    }

    .cont-subtitles{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .cont-subtitles span{
        color: #ff86e5;
        font-weight: 700;
    }

    #brands{
        font-size: 28px;
        color: #ffffff;
        margin: 0
    }

    #brands_cont{
        padding: 10px 10px 10px 10px;
        display: flex;
        align-items: center;
        background: #7e0474;
        border-radius: 25px;
        transition: 500ms;
        justify-content: center;
        margin-top: 20px;

    }

    #brands_cont:hover{
        background: #ff62f2;
        transform: scale(1.15);
        transition: 500ms;
    }

    .name-brands{
        color: #ffffff;
        font-size: 23px;
        align-items: center;
        margin: 0;
        margin-left: 5px;
    }

    #brands_align{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 35px;
        margin-bottom: 80px;
    }

    #brands_cont a{
        text-decoration: none;
        margin: 0;
    }
}


